*.pyc
__pycache__
backend/**/migrations/*
!backend/**/migrations/__init__.py
backend/db.sqlite3
backend/run_env.bat
backend/hostinfo.txt
backend/media/
backend/webpack-stats.json
front/ng-app/node_modules/
notes/
