*.pyc
__pycache__
backend/db.sqlite3
backend/run_env.bat
backend/hostinfo.txt
backend/media/
backend/webpack-stats.json
backend/*/migrations/*
!backend/*/migrations/__init__.py
front/ng-app/node_modules/
notes/
