<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Schat</title>
  {% load static %}
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/build/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="theme-color" content="#1976d2">
  <link rel="stylesheet" href="{% static 'main/styles.06aa4f468a6757f13caa.css' %}">
</head>
<body>
  <app-root><img src="{% static '/ajax-loader.gif' %}" style="position:absolute;margin:auto;top:20%;left:0;right:0;"/></app-root>
</body>

<script type="text/javascript" src="{% static 'main/polyfills-es5.b5bc9a9306ac45f0cdef.js' %}" nomodule defer></script>
<script type="text/javascript" src="{% static 'main/polyfills-es2015.8167ce803df7c69bea5f.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'main/runtime-es2015.fe90b332c5663642a202.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'main/main-es2015.d0c100328a134ea83877.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'main/runtime-es5.fe90b332c5663642a202.js' %}" nomodule defer></script>
<script type="text/javascript" src="{% static 'main/main-es5.d0c100328a134ea83877.js' %}" nomodule defer></script>

</html>
